<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magic</title>
</head>
<body>
  <h1>Welcome to Magic API</h1>
  <ul>
    <li>Google Auth: /auth/google</li>
    <li>Github Auth: /auth/github</li>
    <li>Linkedin Auth: /auth/linkedin</li>
    <li>Create Project: /api/get-project-token</li>
    <li>Get project data: /api/project-data</li>
    <li>Create project data: /api/project-data</li>
    <li>Get project list: /api/get-project-list</li>
    <li>Update domain URL: /api/update-domain-url</li>
  </ul>
</body>
</html>
